* {
    padding: 0;
    margin: 0;
}

body {
    background: #e1eaec;
}

.navbar {
    background-color: #3a3450;
    text-align: center;
    padding: 20px;
    display: flex;
}

h1 {
    margin: 0px 0px 15px 10px;
    font-size: 36px;
}

.navbar h1 {
    color: white;
    font-family: 'Arial', sans-serif;
}

.nav{
    margin-left: auto;
    margin-right: 100px;
    margin-top: 1px;
    padding: 10px;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.nav a {
    color: white;
    text-decoration: none;
    margin: 30px 0px 15px 30px;
    font-size: 18px;
}

.nav a:hover {
    color: #dfab82;
}

.about {
    font-family: 'Arial', sans-serif;
    padding: 20px 50px 20px 50px;
    line-height: 1.6;
    background: #e1eaec;
}

#about {
    font-weight: 100;
    font-size: 30px;
    margin: 40px 0px 10px 0px;
    color: #0a0a0a;
}

hr {
    border: 0;
    height: 2px;
    background: #0a0a0a;
}

.about-body {
    display: flex;
    margin-top: 30px;
}

.about-body1 {
    flex: 1;
    font-size: 28px;
    font-weight: bolder;
    color: #0a0a0a;
}

.about-body2 {
    flex: 1;
    line-height: 1.8;
}

.interests {
    background: #3a3450;
    color: white;
    padding: 20px 50px 20px 50px;
    font-family: 'Arial', sans-serif;
    margin-top: 30px;
}

.interests-header h2 {
    font-weight: 100;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
    color: white;
}

.interests-header h2:hover {
    cursor: pointer;
    color: #dfab82;
}

.interests-body {
    padding: 20px 50px 20px 50px;
    justify-content: space-around;
    line-height: 1.8;
}

.skills {
    display: flex;
    padding: 20px;
    margin: 20px;
}

.skills-header {
    flex: 1;
}

.skills-header img {
    height: 90%;
    width: 90%;
}

.skills-body {
    padding: 20px;
    flex: 1;
}

.skills-body ul {
    list-style-type: square;
    font-size: 20px;
    line-height: 1.8;
}

section.goals {
    background: #dfab82;
    color: #0a0a0a;
    font-family: 'Arial', sans-serif;
    margin-top: 30px;

}

.goals {
    display: flex;
    padding: 20px;
}

.goals-header {
    flex: 1;
}

.goals-header img {
    margin-top: 30px;
    height: 90%;
    width: 100%;
}

.goals-body {
    margin-top: 40px;
    padding: 20px;
    flex: 1;
}

.goals-body ul {
    list-style-type: square;
    font-size: 20px;
    line-height: 1.8;
}

.contact {
    background: #dfab82;
    color: #0a0a0a;
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 20px 50px 20px 50px;
}

.contact h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.contact h4 {
    font-weight: 100;
    margin: 10px 0px 10px 0px;
}

.contact h4:hover {
    cursor: pointer;
    color:#e1eaec;
}

.contact-body {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    background-color: #e1eaec;
    color: #0a0a0a;
    text-align: center;
    font-size: 24px;
    transition: background-color 0.3s, color 0.3s;
}

.social-icon:hover {
    background-color: #0a0a0a;
    color: white;
}

.footer {
    background-color: #3a3450;
    color: white;
    text-align: center;
    padding: 40px;
    font-family: 'Arial', sans-serif;
}

.footer p {
    margin-top: 10px;
    margin-left: -100px;
    font-size: 18px;
    padding: 10px;
}
